---

# Deprecated. Use laravel/* scripts

- name: "APP | Create SupervisorD Configuration"
  become: true
  ansible.builtin.template:
    src: "{{ ansistrano_deploy_from }}/{{ app_supervisor_config_path | default('build/deploy/supervisor/' + app_environment + '.conf.j2') }}"
    dest: "{{ app_supervisor_config_dest | default('/etc/supervisord.d') }}/{{ app_domain }}.ini"
    owner: "{{ app_deployer_user | default(ansible_user) }}"
    group: "{{ app_deployer_group | default(ansible_user) }}"
    mode: "0644"
  tags:
    - server
    - app
    - post
