---

- name: "APP | Symlink Storage Public Folder"
  file:
    src: "{{ ansistrano_release_path.stdout }}/storage/app/public"
    dest: "{{ ansistrano_release_path.stdout }}/public/storage"
    owner: "{{ app_deployer_user | default(ansible_user) }}"
    group: "{{ app_deployer_group | default(ansible_user) }}"
    state: link
  tags:
    - app
    - pre
