---

- name: "APP | Symlink uploads/uplfiles folders"
  file:
    src: "{{ ansistrano_release_path.stdout }}/storage/{{ item }}"
    dest: "{{ ansistrano_release_path.stdout }}/public/{{ item }}"
    owner: "{{ app_deployer_user | default(ansible_user) }}"
    group: "{{ app_deployer_group | default(ansible_user) }}"
    state: link
  with_items:
    - "uplfiles"
    - "uploads"
  tags:
    - app
    - pre
