---

- name: "APP | Sync Storage Content"
  synchronize:
    src: "{{ ansistrano_deploy_from }}/storage"
    dest: "{{ app_deploy_to }}/shared"
    archive: no
    recursive: yes
  run_once: "{{ app_sync_storage_folder_once | default(false) }}"
  tags:
    - app
    - pre
