---

- name: "APP | Dynamic | Create Folder Structure"
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ app_deployer_user | default(ansible_user) }}"
    group: "{{ app_deployer_group | default(ansible_user) }}"
    state: directory
    mode: "0755"
  with_items:
    - "/var/www/{{ app_domain }}/app/releases"
    - "/var/www/{{ app_domain }}/api/releases"
    - "/var/www/{{ app_domain }}/api/shared/storage"
    - "/mnt/dynamic-deploy-{{ app_project_group | lower }}/{{ app_domain }}"
  tags:
    - server
    - dynamic
    - pre
